colibri.sh
test_colibri.sh
/smt_colibri.sh
/smt_test_colibri.sh
/smtlib_rte_checker/smtlib_rte_checker.native
/smtlib_rte_checker/.merlin
/colibri.tar.gz
/smtlib_rte_checker/_build
/rte.smt2
/smtlib_rte_checker/smtlib_tidier.native
/tidy.smt2
*.aux
*.bbl
*.blg
*.fls
*.log
*.out
*.fdb_latexmk
description/main.pdf